form[name="complaintsForm"] .ng-touched.ng-invalid{
  border: 1px solid #e29090;
}

/* The style which was provided using the ui-grid is broaking
So below mentioned style is  used to fix it */
.ui-grid-pager-control .ui-grid-pager-max-pages-number {
  vertical-align: baseline !important;
}
.ui-grid-pager-control input{
  padding: 0px !important;
}
